<h1>Listing jokes</h1>

<table>
  <tr>
    <th>Setup</th>
    <th>Punchline</th>
  </tr>

  <% @jokes.each do |joke| %>
    <tr>
      <td><%= joke.setup %></td>
      <td><%= joke.punch_line %></td>
      <td><%= link_to 'Delete', joke_path(joke), 
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table><br>

<%= link_to 'New jokes', new_joke_path %>